@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400italic);
.main {
  width: auto;
  box-sizing: border-box;
  background-color: black; }
  .main .row {
    height: 41em;
    margin: 0 auto; }
    .main .row .slider {
      background-color: black;
      height: 100%; }
      @media (min-width: 100px) and (max-width: 300px) {
        .main .row .slider {
          height: 7em; } }
      @media (min-width: 301px) and (max-width: 600px) {
        .main .row .slider {
          height: 15em; } }
      @media (min-width: 601px) and (max-width: 800px) {
        .main .row .slider {
          height: 20em; } }
      @media (min-width: 801px) and (max-width: 1000px) {
        .main .row .slider {
          height: 25em; } }
      .main .row .slider .slide {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: black;
        margin: 0 auto;
        position: absolute;
        opacity: 0;
        animation-name: next-slide;
        animation-duration: 60s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite; }
      .main .row .slider .slide:first-child {
        background-image: url("../images/aikido_20141209_81133.jpg");
        animation-delay: 0s; }
      .main .row .slider .slide:nth-child(2) {
        background-image: url("../images/aikido_20141209_81186.jpg");
        animation-delay: 5s; }
      .main .row .slider .slide:nth-child(3) {
        background-image: url("../images/aikido_20141209_81254.jpg");
        animation-delay: 10s; }
      .main .row .slider .slide:nth-child(4) {
        background-image: url("../images/aikido_20141209_81295.jpg");
        animation-delay: 15s; }
      .main .row .slider .slide:nth-child(5) {
        background-image: url("../images/aikido_20141209_81355.jpg");
        animation-delay: 20s; }
      .main .row .slider .slide:nth-child(6) {
        background-image: url("../images/aikido_20141209_81461.jpg");
        animation-delay: 25s; }
      .main .row .slider .slide:nth-child(7) {
        background-image: url("../images/aikido_20141209_81734.jpg");
        animation-delay: 30s; }
      .main .row .slider .slide:nth-child(8) {
        background-image: url("../images/aikido_20141209_81915.jpg");
        animation-delay: 35s; }
      .main .row .slider .slide:nth-child(9) {
        background-image: url("../images/aikido_20141209_82054.jpg");
        animation-delay: 40s; }
      .main .row .slider .slide:nth-child(10) {
        background-image: url("../images/aikido_20141209_82080.jpg");
        animation-delay: 45s; }
      .main .row .slider .slide:nth-child(11) {
        background-image: url("../images/aikido_20141209_82210.jpg");
        animation-delay: 50s; }
      .main .row .slider .slide:nth-child(12) {
        background-image: url("../images/aikido_20141209_82238.jpg");
        animation-delay: 55s; }
      .main .row .slider .slide:nth-child(13) {
        background-image: url("../images/aikido_20141209_82548.jpg");
        animation-delay: 60s; }
@keyframes next-slide {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  30% {
    opacity: 0; } }
    .main .row .right_side {
      margin: 0 auto;
      background-color: black; }
      .main .row .right_side .baner {
        height: 28em;
        width: 100%;
        background-color: black;
        background-image: url("../images/aikido_pion.jpg");
        background-position: center;
        background-size: 46%;
        background-repeat: no-repeat; }
        @media (max-width: 1000px) {
          .main .row .right_side .baner {
            background-image: url(../images/aikido_poziom.jpg);
            background-size: 70%; } }
        @media (max-width: 400px) {
          .main .row .right_side .baner {
            height: 7em; } }
        @media (min-width: 401px) and (max-width: 600px) {
          .main .row .right_side .baner {
            height: 10em; } }
        @media (min-width: 601px) and (max-width: 800px) {
          .main .row .right_side .baner {
            height: 17em; } }
        @media (min-width: 801px) and (max-width: 1000px) {
          .main .row .right_side .baner {
            height: 23em; } }
      .main .row .right_side .menu-wrapper {
        width: 100%;
        background-color: black;
        height: 12em;
        padding-left: 3em; }

*, *:before, *:after {
  box-sizing: border-box; }

.main .menu-wrapper {
  position: relative; }
.main .menu {
  position: fixed;
  width: 2.25em;
  height: 0.375em;
  background-color: #FFF016;
  user-select: none;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  color: #FFF016;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: transparent; }
  .main .menu label {
    cursor: pointer;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    line-height: 1.875em;
    top: -0.75em;
    left: 1.125em; }
  .main .menu:hover > ul.nav-links, .main .menu.open > ul.nav-links {
    transition: all 0.25s ease-in-out;
    opacity: 1;
    width: 11.25em;
    transform: translateX(15px);
    pointer-events: auto; }
  .main .menu:after, .main .menu:before {
    content: "";
    position: absolute;
    width: 2.25em;
    height: 0.375em;
    background-color: #FFF016;
    transition: all 0.25s ease-in-out; }
  .main .menu:after {
    top: 0.75em; }
  .main .menu:before {
    top: -0.75em; }
  .main .menu:hover, .main .menu.open {
    background-color: transparent; }
  .main .menu:hover::after, .main .menu:hover::before, .main .menu.open::after, .main .menu.open::before {
    transition: all 0.3s ease-in-out;
    width: 1.125em; }
  .main .menu:hover::after, .main .menu.open::after {
    transform: translate(0.1875em, -7px) rotate(405deg); }
  .main .menu:hover::before, .main .menu.open::before {
    transform: translate(0.75em, 17px) rotate(-405deg); }
  .main .menu ul.nav-links {
    margin: 0;
    padding: 2.25em 0 0 0;
    opacity: 0;
    transform: translateX(-15px);
    transition: all 0.25s ease-in-out;
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none; }
    .main .menu ul.nav-links li {
      width: 100%;
      padding: 4px 8px;
      list-style-type: none;
      font-family: 'Raleway', sans-serif;
      font-size: 25px;
      text-transform: uppercase;
      transition: all 0.25s ease-in-out;
      border-left: 2px solid #FFF016; }
      .main .menu ul.nav-links li:hover, .main .menu ul.nav-links li.active {
        color: white;
        border-left: 2px solid white; }

.aikido {
  background-color: black;
  width: 100%;
  height: 71em;
  font-family: "Lobster Two", cursive;
  font-weight: lighter; }
  .aikido .master {
    position: relative; }
    .aikido .master img {
      padding: 1em;
      width: 8em;
      height: 10em; }
    .aikido .master header {
      display: inline;
      padding: 1em;
      position: absolute;
      font-family: sans-serif; }
    .aikido .master p {
      font-size: 1.2em;
      padding-left: 1em; }
  .aikido header {
    color: #FFF016;
    padding-top: 1.5em;
    font-size: 2em;
    text-align: center; }
  .aikido p {
    color: white;
    padding: 1em;
    text-align: justify;
    text-indent: 2em;
    font-size: 1.5em;
    line-height: 1.5em; }

[class*="col-"] {
  min-height: 1em; }

/*# sourceMappingURL=aikido.css.map */
