header {
  width: 100%;
  max-width: 1200px;
  height: 70vw; }
  header .slider, header .slide {
    width: 100%;
    height: 70vw; }
  header .slide {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation-name: next-slide;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; }
    header .slide p {
      color: #010101;
      font-size: 2.5rem;
      font-weight: bold;
      padding: 0.2em 0 0 0.2em; }
  header .slide:first-child {
    background-image: url("../images/aikido_20141209_81133.jpg");
    animation-delay: 0s; }
  header .slide:nth-child(2) {
    background-image: url("../images/aikido_20141209_81186.jpg");
    animation-delay: 5s; }
  header .slide:nth-child(3) {
    background-image: url("../images/aikido_20141209_81254.jpg");
    animation-delay: 10s; }
  header .slide:nth-child(4) {
    background-image: url("../images/aikido_20141209_81295.jpg");
    animation-delay: 15s; }
  header .slide:nth-child(5) {
    background-image: url("../images/aikido_20141209_81355.jpg");
    animation-delay: 20s; }
  header .slide:nth-child(6) {
    background-image: url("../images/aikido_20141209_81461.jpg");
    animation-delay: 25s; }
  header .slide:nth-child(7) {
    background-image: url("../images/aikido_20141209_81734.jpg");
    animation-delay: 30s; }
  header .slide:nth-child(8) {
    background-image: url("../images/aikido_20141209_81915.jpg");
    animation-delay: 35s; }
  header .slide:nth-child(9) {
    background-image: url("../images/aikido_20141209_82054.jpg");
    animation-delay: 40s; }
  header .slide:nth-child(10) {
    background-image: url("../images/aikido_20141209_82080.jpg");
    animation-delay: 45s; }
  header .slide:nth-child(11) {
    background-image: url("../images/aikido_20141209_82210.jpg");
    animation-delay: 50s; }
  header .slide:nth-child(12) {
    background-image: url("../images/aikido_20141209_82238.jpg");
    animation-delay: 55s; }
  header .slide:nth-child(13) {
    background-image: url("../images/aikido_20141209_82548.jpg");
    animation-delay: 60s; }
@keyframes next-slide {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*

.home {
  width:auto;
  height:41em;    
  
    
   .row {
    width:100%;
    height:41em;        
    margin:0 auto;
     
      
    
      
     .slider { 
      
      height:100%;
            
       .slide {
        
         position:absolute;
         left:-0.1em;   
         height:100%;
         width:100%;
       
        background-position:top center;
        background-size:contain;
        background-repeat: no-repeat;
       
       
        opacity: 0;
        animation-name: next-slide;
        animation-duration: 60s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
       }
         
          & h2 {
          
           color: white;
           font-size:5rem;
           opacity:0.8;
           padding:0.3em;
           font-family: 'Raleway', sans-serif;
           
           @media (max-width:768px){
               font-size:3rem;
           }
         @media (max-width:450px){
               font-size:1rem;
           }
           
           span{
               color: #EBE265;
               padding-left:0.5em;
           }  
            
       }
          & p {
               color:$color;
               font-size:2.5rem;        
               padding:1em;
                 @media (max-width:768px){
               font-size:1.5rem;
                     color:black;
               }
              @media (max-width:450px){
               font-size:1.3rem;
                  color:black;
               }
              
            
           }

      .slide:first-child {
        background-image:url("../images/aikido_20141209_81133.jpg"); 
            animation-delay: 0s;
        }
      .slide:nth-child(2) {
       background-image: url("../images/aikido_20141209_81186.jpg");  
             animation-delay: 5s;
        }
      .slide:nth-child(3) {
        background-image:url("../images/aikido_20141209_81254.jpg"); 
             animation-delay: 10s;
        }
      .slide:nth-child(4) {
          background-image: url("../images/aikido_20141209_81295.jpg");
             animation-delay: 15s;
        }
       .slide:nth-child(5) {
        background-image: url("../images/aikido_20141209_81355.jpg");
             animation-delay: 20s;
         }
        .slide:nth-child(6) {
          background-image: url("../images/aikido_20141209_81461.jpg");  
             animation-delay: 25s;
         }
        .slide:nth-child(7) {
         background-image: url("../images/aikido_20141209_81734.jpg");    
            animation-delay: 30s;
        }
        .slide:nth-child(8) {
          background-image: url("../images/aikido_20141209_81915.jpg");    
             animation-delay: 35s;
        }
        .slide:nth-child(9) {
             background-image: url("../images/aikido_20141209_82054.jpg");
             animation-delay: 40s;
      }
        .slide:nth-child(10) {
            background-image: url("../images/aikido_20141209_82080.jpg");
             animation-delay: 45s;
        }
        .slide:nth-child(11) {
            background-image: url("../images/aikido_20141209_82210.jpg");
             animation-delay: 50s;
         }
        .slide:nth-child(12) {
            background-image: url("../images/aikido_20141209_82238.jpg");
             animation-delay: 55s;
         }
        .slide:nth-child(13) {
            background-image: url("../images/aikido_20141209_82548.jpg");
             animation-delay: 60s;
         }
        
    @keyframes next-slide {
     0% {
    opacity: 0;
    }
     5% {
     opacity: 1; 
     }
     100% {
      opacity: 0;
      }
      } 
      
         img {
             z-index:100;
             width:4em;
             height:4em;
             position:absolute;
             top:80%;
             left:5%;
             
             
            
         }
    }
       
    .right_side {
     
        
      height:41em;
     
        @media (max-width:780px){
            height:40%;
        }
          
   
       
       .baner{
           
        height:65%;
       
        background-image:url("../images/aikido_pion.jpg");
        background-position: center;
        background-size:46%;
        background-repeat: no-repeat;
            
          @media (min-width:501px) and (max-width:780px){
                background-image:url("../images/aikido_poziom.jpg");
           }
           
           @media (max-width:500px){
            
                width:50%;
                height:100%;
                float:right;
                margin-top:3em;
                
           }
         
         }
        
        .menu-wrapper { //hamburger menu
            
            height:35%;
            position:relative;
           
           
            z-index:5;
           
            padding-left:2em;
            padding-top:2em;
            @media (max-width:450px){
                width:50%;
                height:30%;
                float:left;
                margin-left:-2.5em;
                margin-top:2em;
                position:fixed;
               
            }
              @media (min-width:451px) and  (max-width:780px){
                width:50%;
                height:30%;
                float:left;
                               
               
            }
         }
   }
 }
}*/
.about {
  width: 100%;
  height: 70vw;
  margin: 0 auto; }
  .about .baner img {
    width: 20%;
    height: 20%;
    padding: 1em 0 0 0.5em;
    float: left; }
  .about article {
    float: left;
    padding: 1em 0 0 0.8em; }
    .about article h1 {
      font-size: 1.9rem;
      color: red;
      padding: 0.1em 0 0.1em 0;
      font-weight: 900; }
    .about article h2 {
      padding: 0.5em 0 0.5em 0;
      text-transform: uppercase;
      color: yellow; }
    .about article p {
      padding: 0.3em 0 0.3em 0;
      text-align: left; }
      .about article p:last-child {
        color: yellow;
        padding: 1em; }

footer ul {
  border-top: 1px solid red;
  margin: 0 auto;
  margin-top: -0.8em; }
  footer ul a {
    color: #FFFFFF;
    display: block;
    float: left;
    padding: 0.5em;
    text-decoration: none; }
    footer ul a:hover {
      color: red; }
footer .logo img {
  width: 12%;
  height: 16%;
  border-radius: 50%;
  margin: 0.5em;
  margin-left: 15em;
  margin-top: 1em; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  background-color: #010101;
  font-size: 1.6rem; }

/*# sourceMappingURL=main.css.map */
