.aboutUs {
  
    margin:1em;
    margin-top:8em;
   
   
    
    
    h3{
        color:yellow;
        font-size:2rem;
        padding:0 0 1em 1em;
    }
    h4 {
        color:red;
        font-size:1.7rem;
        padding:1em;
    }
    p{
        padding:0.5em;
        text-indent: 1.5em;
        line-height:1.3em;
        span {
           color:yellow; 
        }
    }
    
    h5 {
        color:red;
        font-style: italic;
        padding:2em;
    }
}



.pricing {
    .prices, .discounts {
    
    border: 1px solid red;
    margin:0 auto;
    margin-bottom:2em;
    padding:1em;
    
    .title {
        padding:1em;
        color:yellow;
        font-size:2.3rem;
    }
    
    td {
        border:1px solid yellow;
        padding:1em;
    }
    
}
    .discounts {
        .title {
            color:red;
        }
    } 
    h4 {
       color:white;
        font-size:2rem;
        padding:1em;
        text-align: center;
        margin:0 auto;
    }
}

