.schedule { 
    position:absolute;
    top:0;
    z-index:1000;
    
    width:100%;
    height:100vh;
    h1{
        font-size:3rem;
        padding:1em;
        text-transform: uppercase;
        font-weight: 900;
        color:white;
        line-height:1.2em;
    }
    
    h2 {
        
        font-size:2rem;
        padding-left:2em;
        font-weight:800;
        color: rgb(255, 243, 12);
       
        margin-top:-1em;
    }
   
   
    article {
        position:absolute;
        top:10em;
        left:4em;
        padding:0.5em;; 
        display:none;
        border-radius:4%;
        background-color: rgba(130,130,130,0.5);
        color:white;

        
         h2 {
                padding:0.3em;
                text-transform: uppercase;
                color:white;
                
            } 
        h3 {
            padding:0.5em;
            
        }
        
        p {
            padding:0.2em;
            text-align:left;
           &:last-child {
            
            padding:1em;   
        }    
          }
       
    }
    nav {
       
      
     
        ul {
             
           
             margin:0 auto;
             position:fixed;
             width:100%;
             background-color:rgba(0, 0, 0, 0.7);
                   
                          
            a {
                color:#FFFFFF;
                display:block;
                float:left;
                padding:0.5em;
                text-decoration:none;
                
                
                &:hover {
                    color:red;
                }
            }
        } 
    } 
      
}

.about, .classes, .kids, .olders {
      background-color:rgb(213, 176, 9); 
    
     h3 {
         font-size:2.5rem;
         padding:1em;
         font-weight:bolder;
            }
     p {
         padding:0.4em;
         line-height:1.4em;
        font-style: italic;
         
        span{
            font-weight:bold;
                }   
      }
       .highlighted {
            background-color:black;
            margin-top:2em;
            margin-left:3em;
            margin-bottom:0.5em;
            color:white;
            
           
        }
}

.about {
    background-color:white;
     
    
    .aikido {
       
        padding-bottom:2em;
        font-weight:bold;
        
        p {
            color:black;
            padding:1em;
            &:nth-child(4) {
                color:white;
            } 
            
        }
         h3{ 
            font-weight:800;
            text-transform: uppercase;
            font-style:italic;
           }
        
     }
    
          
    } 
.instructor {
    position:relative;
    margin-top:-2em;
   
    h3 {
        font-size:2.2rem;
        padding-bottom:0.3em;
    }
}
   .dojo {
       span {
           color:white;
       }
    
     }

.kids, .olders {
   
       p {
            
            
            &:nth-child(3) {
            color:white;
            } 
      }
           .highlighted {
                 padding:2em;
           }
            .welcome {
                background-color:white;
                width:40%;
                padding:0.4em;
                font-weight:800;
                margin-top:-0.5em;
                margin-left:6em;
                font-size: 2rem;
                
            }
    
    
}


 .pricing {
    
     margin-top:3em;
     padding-bottom:3em;
     background-color:black; 
     color:white;
     position:relative;
     padding:1em;
    
     
     table {
      
         
         .title {
        padding:1em;
        font-size:3rem;
        }
        
        td {
        border:5px solid white;
        padding:1em;
       } 
         
         
     }
      .addTreining {
        
         margin-top:1em;
         margin-bottom:4em;
         background-color:white;
         color:black; 
         height:8em;
         font-size:1.8rem;
         font-weight:bold; 
         line-height:1.5em;
          p{
              padding:0.5em;
              text-align:center;
          }
          a {
              color:black;
          }
          
          img {
              width: 4em;
              height:4em;
              border-radius:50%;
              margin-left:8em;
              margin-top:-0.5em;
              
          }          
     }
     
     .discounts {
         
        
         background-color:black;
         padding:2em;
            
         li {
             padding:0.4em;
         }
      }
     
}
   .news {
    height:75vh;
    position:relative;
    margin-bottom:18em;
  
    background-color:white; 
   
    
    h3 {
        font-size:3rem;
        padding:1em;
        font-style:italic;
        font-weight:bold;
    }
    h4 {
        font-size:2rem;
        padding:1em;
        text-transform:uppercase;
        color:white;
    }
    
    h5 {
        padding:0.3em;
        color:black;
        font-weight:bold;
    }
    
    h6 {
        padding:0.5em;
        background-color:black;
        margin-left:5em;
        margin-top:1em;
    }
    
   
    .place {
        
        background-color:rgb(213, 176, 9); 
        color:white;
        margin:1.5em;
        padding:0.2em;
        margin-top:15em;
        text-align: left;
        
        p {
            padding:0.3em;
        }
        
    }
    .start {
        background-color:black;
        margin-top:-1em;
       
       p {
        padding:0.5em;
        color:white;
        line-height:1.5em;
           
           &:nth-child(2){
               background-color:white;
               color:black;
               font-size:2rem;
               text-align:right;
               font-weight:bold;
           }
         
       
        } 
        
       
    }
   
}  
     
    
    
