.schedule { 
    position:absolute;
    top:0;
    z-index:1000;
    
    width:100%;
    height:100vh;
    h1{
        font-size:3rem;
        padding:1em;
        text-transform: uppercase;
        font-weight: 900;
        color:white;
        line-height:1.2em;
    }
    
    h2 {
        
        font-size:2rem;
        padding-left:3em;
        font-weight:800;
        color: rgb(213, 176, 9);
        margin-top:-1.8em;
    }
   
    .kanji {
            width:10%;
            margin:1em;
        
          
         } 
    article {
        position:absolute;
        top:8em;
        left:4em;
        padding:1em;;
       
        display:none;
        border-radius:5%;
        background-color: rgba(130,130,130,0.5);
        color:white;

        
         h2 {
                padding:0.3em;
                text-transform: uppercase;
                color:white;
                
            } 
        h3 {
            padding:0.7em;
            
        }
        
        p {
            padding:0.2em;
            text-align:left;
           &:last-child {
            
            padding:1em;   
        }    
          }
       
    }
    nav {
       position:absolute;
        top:90%;
      
       height:30vh;
        ul{
            
            
             height:3em;
             margin:0 auto;
             //margin-top:5.8em;
             position:fixed;
             width:100%;
            
           &:hover {
               background-color:rgba(0, 0, 0, 0.7);
           }         
                          
            a {
                color:#FFFFFF;
                display:block;
                float:left;
               
                padding:0.5em;
                text-decoration:none;
                
                
                &:hover {
                    color:red;
                }
            }
        } 
    } 
      
}

.about, .classes, .kids, .olders {
      background-color:rgb(213, 176, 9); 
    
     h3 {
         font-size:2.5rem;
         padding:1em;
         font-weight:bolder;
            }
     p {
         padding:0.7em;
         line-height:1.4em;
        font-style: italic;
         
        span{
            font-weight:bold;
                }   
      }
       .highlighted {
            background-color:black;
            margin-top:2em;
            margin-left:3em;
            margin-bottom:0.5em;
            color:white;
           
        }
}

.about {
    
     
    
    .aikido {
        background-color:rgb(213, 176, 9); 
        padding-bottom:2em;
      
        p {
            color:white;
            padding:1em;
            &:nth-child(3) {
                color:black;
            } 
            
        }
         h3{ 
            font-weight:800;
            text-transform: uppercase;
            font-style:italic;
           }
      
     }
    
          
    } 

   .dojo {
       span {
           color:white;
       }
    
     }

.kids, .olders {
   
       p {
            
            padding:1em;
            &:nth-child(3) {
                color:white;
            } 
      }
     
            .welcome {
                background-color:white;
                display:inline;
                padding:0.5em;
                font-weight:800;
                margin-top:2em;
            }
    
    
}
.news {
    
   
    background-color:white; 
   
    
    h3 {
        font-size:3rem;
        padding:2em;
        font-style:italic;
        font-weight:bold;
    }
    h4 {
        font-size:2rem;
        padding:1em;
        text-transform:uppercase;
        color:white;
    }
    
    h5 {
        padding:0.3em;
        color:black;
        font-weight:bold;
    }
    
    h6 {
        padding:0.5em;
        background-color:black;
        margin-left:5em;
        margin-top:1em;
    }
    .start {
        background-color:black;
       p {
        padding:1em;
        color:white;
        line-height:1.5em;
           
           &:nth-child(3){
               background-color:white;
               color:black;
               margin:1em;
               margin-left:5em;
               font-weight:bold;
           }
         
       
        } 
        
       
    }
   
    .place {
        
        background-color:rgb(213, 176, 9); 
        color:white;
        margin:1.5em;
        padding:1em;
        
        p {
            padding:0.3em;
        }
        
    }
    
    img {
        width:100%;
        opacity:0.8;
    }
}
 .pricing {
    
     padding:2em;
     padding-bottom:7em;
     background-color:black; 
     color:white;
     position:relative;
     
     
     table {
        
         .title {
        padding:1em;
        font-size:3rem;
        }
        
        td {
        border:5px solid white;
        padding:1em;
       } 
         
         
     }
      .addTreining {
         padding:2em;
         width:80%;
         margin-top:3em;
         background-color:white;
         color:black; 
         position:absolute;
         top:25em;
         font-size:1.8rem;
         font-weight:bold; 
          line-height:1.5em;
          
          a {
              color:black;
          }
          
          img {
              width: 4em;
              height:4em;
              border-radius:50%;
              margin-left:8em;
              
          }
                
     }
     
     .discounts {
         width:70%;
         padding:2em;
         position:absolute;
         top:45em;
         background-color:black;
         margin-bottom:5em;
         margin-left:3em;
         
         li {
             padding:0.4em;
         }
     }
     
     
  }   
    
