

@media only screen and ( min-width:800px ) {
    
 section {
     max-width: 1250px;
     margin:0 auto;
    
    .col-1 {
       width:50%;
       
    } 
     
     col-2 {
         width:100%;
     }
    
        
    }  
 .schedule {
        
     h1 {
            
        font-size:3.5rem;
     }
     h2 {
            font-size:3rem;
        }
        
     nav {
      
        
        ul {
            
           font-size:2.5rem;
           height:2em;
            
        }
      }     
        
 }
   
.about {
        
     
        .background-dojo {
            width:48%;
        }
         .text.dojo {
            position: absolute;
            top:20em;
            left:49%;
            padding:2em;
        }
        .logo {
            width:8em;
            height:8em;
            margin-top:3em;
            margin-left:13em;
        }
    }
 .instructor {
     .background-rafal {
         width:48%;
         margin-right:0.75em;
         
            }
     .text.rafal{
         margin-left:1%;
     }
       .text.ola {
            position:absolute;
            left:51%;
            top:23em;
        } 
           
         
      .background-ola {
                width:48%;
                margin-left:0.75em;
            }
         
       
    }
     .kids {
         
         h3+p{
             padding:2em;
         }
         .text.children {
            position:absolute;
            top:11em;
            padding:2em;  
          
         }
       
         .benefits {
            position:absolute;
           
            top:30em;
           
            
        }
        
         
    }
.olders {
        
        .background-adults {
            margin-top:-2em;
        }
        
        .text.adults {
            position:absolute;
            top: -1em;
            left:50%;
            padding: 2em;
            
            h3 {
                color:black;
            }
           
        }
        
        .highlighted {
            margin-top:22em;
        }
    }   
.pricing {
        
        .discounts {
           padding:3em;
            font-size:2rem;
        } 
        
     .addTreining {
         font-size:2rem;
         width:100%;
     }
}    
.news {
        .place {
           font-size:2rem;
          
        }
    .bigLogo {
        width:50%;
        height:10em;
    }
      .us {
         height:60vh;
      }
         
         .you {
           margin-top:7em;
        }
 }
             
   
}
