@media only screen and ( min-width:59em ) {
    
 section {
    .col-1 {
       width:50%;
        height:30em;
                 
    } 
    
    .col-2 {
        width:25%;
    }
    
     .col-3 {
         
         width:10%;
     }
        
    }  
   
    nav {
        ul {
           font-size:3rem;
        }
    } 
    
    
   
     .news {
         padding-bottom:5em;
         .start{
           margin:2em;  
         }
        .place {
            margin-top:-5em;
            margin-left:-2em;
            width:38%
            
        }   
         
         img {
             width:50%;
         }
    }
    .pricing {
        
        
        
        
    }
   
}