.main{
  width:auto; 
  box-sizing:border-box;
  background-color:black;
    
   .row{

    height:41em;
    margin:0 auto;
        
  .slider{ 
      background-color: black;
      height:100%;
     
      
       @media (min-width:100px) and (max-width:300px){
        height:7em;
           
    }
       @media (min-width:301px) and (max-width:600px){
        height:15em;
    }
       @media (min-width:601px) and (max-width:800px){
        height:20em;
    }
       @media (min-width:801px) and (max-width:1000px){
        height:25em;
    }
     .slide {
         
        height:100%; 
        width:100%;
        background-position:center;
        background-size:contain;
        background-repeat: no-repeat;
        background-color:black; 
        margin:0 auto;
        position: absolute;
        opacity: 0;
        animation-name: next-slide;
        animation-duration: 60s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }

      .slide:first-child {
        background-image:url("../images/aikido_20141209_81133.jpg"); 
            animation-delay: 0s;
        }
      .slide:nth-child(2) {
       background-image: url("../images/aikido_20141209_81186.jpg");  
             animation-delay: 5s;
        }
      .slide:nth-child(3) {
        background-image:url("../images/aikido_20141209_81254.jpg"); 
             animation-delay: 10s;
        }
      .slide:nth-child(4) {
          background-image: url("../images/aikido_20141209_81295.jpg");
             animation-delay: 15s;
        }
       .slide:nth-child(5) {
        background-image: url("../images/aikido_20141209_81355.jpg");
             animation-delay: 20s;
         }
        .slide:nth-child(6) {
          background-image: url("../images/aikido_20141209_81461.jpg");  
             animation-delay: 25s;
         }
        .slide:nth-child(7) {
         background-image: url("../images/aikido_20141209_81734.jpg");    
            animation-delay: 30s;
        }
        .slide:nth-child(8) {
          background-image: url("../images/aikido_20141209_81915.jpg");    
             animation-delay: 35s;
        }
        .slide:nth-child(9) {
             background-image: url("../images/aikido_20141209_82054.jpg");
             animation-delay: 40s;
      }
        .slide:nth-child(10) {
            background-image: url("../images/aikido_20141209_82080.jpg");
             animation-delay: 45s;
        }
        .slide:nth-child(11) {
            background-image: url("../images/aikido_20141209_82210.jpg");
             animation-delay: 50s;
         }
        .slide:nth-child(12) {
            background-image: url("../images/aikido_20141209_82238.jpg");
             animation-delay: 55s;
         }
        .slide:nth-child(13) {
            background-image: url("../images/aikido_20141209_82548.jpg");
             animation-delay: 60s;
         }
        
@keyframes next-slide {
   0% {
    opacity: 0;
   }
   10% {
    opacity: 1; 
   }
   30% {
    opacity: 0;
   }
} 
        
    }
    .right_side{
      margin:0 auto;
       background-color: black;
       
       .baner{
         
        height:28em;
        width:100%;
        background-color:black;
        background-image:url("../images/aikido_pion.jpg");
        background-position: center;
        background-size:46%;
        background-repeat: no-repeat;
       
        
          @media  (max-width:1000px){    
          background-image: url(../images/aikido_poziom.jpg);
          background-size: 70%;      
          
 
           }
        
           @media (max-width:400px){
            height:7em;;
           }
            @media (min-width:401px) and (max-width:600px){
            height:10em;
           }
            @media (min-width:601px) and (max-width:800px){
            height:17em;
           }
            @media (min-width:801px) and (max-width:1000px){
            height:23em;
          }
        
         }
        .menu-wrapper{
            width:100%;
            background-color: black;
            height:12em;
            padding-left:3em;
           
         }
  }
}
}