@media only screen and ( min-width:550px ) {
    
    section {
        
         .col-1 {
       width:100%;  
                 
    } 
    
    .col-2 {
        width:50%;
    }
    
        .col-3 {
            width:25%
        }
    }
    .about, .kids, .olders {
        
        .text{
            padding:3em;
        }
    }
   .about {
       
        
        .center {
           
             .logo {
               
               margin:-1.5em 0 0 2em;
                  
           }  
        }
    }
     
     
    
   
    
     .news {
         padding-bottom:3em;
         
         .start{
           margin:2em;  
         }
        .place {
          width:60%;
            
        }  
         
         img {
             width:80%;
             margin-left:2em;
        }
    }
    .pricing {
      
        
        
    }
}