header {
    width:100%;
    max-width:1200px;
   
   
   .slider, .slide {
        
        width:100%;
        height:100vh;
        border-bottom:5px solid black;
       
    }
    
    .slide {
        position:absolute;
        background-repeat:no-repeat;
        background-size: cover;
        background-position:top;
        opacity:0;
        
        -webkit-animation-name: next-slide;
        -webkit-animation-duration: 52s;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-iteration-count: infinite;
        
     
        
        
    }
    
      .slide:first-child {
        background-image:url("../images/slider/aikido_20141209_80522.JPG"); 
            animation-delay: 0s;
        }
      .slide:nth-child(2) {
       background-image: url("../images/slider/berek.jpg");  
            animation-delay:4s;
        }
      .slide:nth-child(3) {
        background-image:url("../images/trening/dorosli/futariDori.jpg"); 
             animation-delay: 8s;
        }
      .slide:nth-child(4) {
          background-image: url("../images/slider/DSC09646.JPG");
            animation-delay: 12s;
        }
      .slide:nth-child(5) {
        background-image: url("../images/slider/P1060657.JPG");
            animation-delay: 16s;
         }
        .slide:nth-child(6) {
          background-image: url("../images/slider/P1060661.JPG");  
             animation-delay: 20s;
         }
        .slide:nth-child(7) {
         background-image: url("../images/slider/pokaz.jpg");    
            animation-delay: 24s;
        }
        .slide:nth-child(8) {
          background-image: url("../images/slider/pokaz2.jpg");    
             animation-delay: 28s;
        }
        .slide:nth-child(9) {
             background-image: url("../images/slider/pokaz3.jpg");
             animation-delay: 32s;
      }
        .slide:nth-child(10) {
            background-image: url("../images/slider/wianki_2013.JPG");
             animation-delay: 36s;
        }
        .slide:nth-child(11) {
            background-image: url("../images/slider/pad.jpg");
             animation-delay: 40s;
         }
        .slide:nth-child(12) {
            background-image: url("../images/slider/skok.jpg");
             animation-delay: 44s;
         }
        .slide:nth-child(13) {
            background-image: url("../images/slider/senoundo.jpg");
             animation-delay: 48s;
         }
       
    @media  screen and ( min-width:1px) and (max-width:430px) {
         .slide:nth-child(3) {
        background-image:url("../images/pokazy/wianki2012(4).JPG"); 
             animation-delay: 8s;
        }
        .slide:nth-child(4) {
          background-image: url("../images/aikido_20141209_81230.jpg");
            animation-delay: 12s;
        }
         .slide:nth-child(7) {
         background-image: url("../images/trening/dorosli/rafal.jpg");    
            animation-delay: 24s;
        }
         .slide:nth-child(8) {
          background-image: url("../images/pokazy/wianki2012(3).JPG");    
             animation-delay: 28s;
        }
         .slide:nth-child(10) {
            background-image: url("../images/trening/dzieci/aikido_20141209_80401.JPG");
             animation-delay: 36s;
        }
         .slide:nth-child(12) {
            background-image: url("../images/trening/dzieci/P1060690.JPG");
             animation-delay: 44s;
         }
    }
@-webkit-keyframes next-slide {
      0% {
       opacity: 0;
          
      }
     5% {
        opacity:1;
        z-index:100;   
      }
   
      100% {
      opacity: 0;
         
      }
 } 

}

