@media  screen and ( min-width:1em  ) {
  
    %image {
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        height:35em;
        z-index:5;
        border:3px solid black;  
   }
    
    %filter {
        content:"";    
        background-color:black;
        width:100%;
        opacity:0.3;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        position:absolute; 
        z-index:10;  
    }
    
    %textOnfilter {
         z-index:100;
         line-height:1.3em;
         color:white;
         background-color:transparent;
         padding:0.6em;   
    }
    
    section { 
        .col-1 {
       width:100%;            
       } 
       
   } 
    
 .schedule {
        nav {
            position:absolute;
            top:85%;
        }
        
 }
 .about {
    position:relative; 
      .background-dojo {
        position:relative;
        top:2em;  
        background-image:url("../images/trening/dorosli/seiza_color.jpg");
        @extend %image;
        background-position:right;  
        
        }
    
      .background-dojo::after {
          @extend %filter;        
        }
        
       .text.dojo {
            position:absolute;
            top:50em;
            @extend %textOnfilter;
        }       
        .logo {
               width:5em;
               height:5em;
               z-index:50;
               border-radius:50%;
               margin:0.6em 0 0 2em;   
           }             
     }
    
 .instructor {
        margin-top:2em;
        position:relative;
        top:1em;
        margin-bottom:2em;
       
        .background-rafal {
            position:relative;
            background-image:url("../images/pokazy/rzut.JPG");
            @extend %image;     
        }
    
        .background-rafal::after {
         @extend %filter;    
        }
        
        .text.rafal {
            position:absolute;
            top:23em;
            @extend %textOnfilter;
         }
         .background-ola {
            position:relative; 
            background-image:url("../images/trening/dorosli/ola_rozciaganie.jpg");
            @extend %image;
                
         }
    
        .background-ola::after {
          @extend %filter;     
        }
        
       .text.ola {
            position:absolute;
            top:57em;
            @extend %textOnfilter;       
        }
    }
    
 .kids {
       position:relative;
       padding-bottom:3em;
         .background-children {
            background-image:url("../images/slider/DSC09459.JPG");
            @extend %image;
            position:relative;
            top:0em;
             margin-top:3em;   
         }
    
        .background-children::after {
        @extend %filter;     
         }
        
        .text.children {
            position:absolute;
            top:30em;
            @extend %textOnfilter;       
        }
        
    }
    
 .olders {
        position:relative;
         .background-adults {
            background-image:url("../images/trening/dorosli/aikido_20141209_81230.jpg");
            @extend %image;
           
            position:relative;
            top:0em;   
        }
    
      .background-adults::after {
        @extend %filter;    
        }
        
       .text.adults {
            position:absolute;
            top:12em;
            @extend %textOnfilter;       
        }
    }
    
    
 .news{
       
    .bigLogo  {
            background-image: url(../images/Logo_WCA-1.png);
            background-position:center;
            background-size:contain;
            background-repeat: no-repeat;
            height:8em;
            width:100%;
            a {
                height:8em;
                width:100%;
                display:block;   
            }
        }
        
    .us {
          height:50vh;
          background-image: url("../images/pokazy/wianki_2013.JPG");
             background-size:cover;
            background-position:top;
             margin-bottom:4em;
        }
    .you {
           margin-left:22%;
           margin-top:4em;
        }
        
 }
    
}