
.main{
  width:auto;  
  box-sizig:border-box;
.row{

    height:41em;
    margin:0 auto;
  
  .slider{ 
      
      height:100%;
     
      
       @media (min-width:100px) and (max-width:300px){
        height:7em;
    }
       @media (min-width:301px) and (max-width:600px){
        height:15em;
    }
       @media (min-width:601px) and (max-width:800px){
        height:20em;
    }
       @media (min-width:801px) and (max-width:1000px){
        height:25em;
    }
     .slide {
         
        height:100%; 
        width:100%;
        background-position:center;
        background-size:contain;
        background-repeat: no-repeat;
        background-color:black; 
        margin:0 auto;
        position: absolute;
        opacity: 0;
        animation-name: next-slide;
        animation-duration: 60s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }

      .slide:first-child {
        background-image:url("../images/aikido_20141209_81133.jpg"); 
            animation-delay: 0s;
        }
      .slide:nth-child(2) {
       background-image: url("../images/aikido_20141209_81186.jpg");  
             animation-delay: 5s;
        }
      .slide:nth-child(3) {
        background-image:url("../images/aikido_20141209_81254.jpg"); 
             animation-delay: 10s;
        }
      .slide:nth-child(4) {
          background-image: url("../images/aikido_20141209_81295.jpg");
             animation-delay: 15s;
        }
       .slide:nth-child(5) {
        background-image: url("../images/aikido_20141209_81355.jpg");
             animation-delay: 20s;
         }
        .slide:nth-child(6) {
          background-image: url("../images/aikido_20141209_81461.jpg");  
             animation-delay: 25s;
         }
        .slide:nth-child(7) {
         background-image: url("../images/aikido_20141209_81734.jpg");    
            animation-delay: 30s;
        }
        .slide:nth-child(8) {
          background-image: url("../images/aikido_20141209_81915.jpg");    
             animation-delay: 35s;
        }
        .slide:nth-child(9) {
             background-image: url("../images/aikido_20141209_82054.jpg");
             animation-delay: 40s;
        }
        .slide:nth-child(10) {
            background-image: url("../images/aikido_20141209_82080.jpg");
             animation-delay: 45s;
        }
        .slide:nth-child(11) {
            background-image: url("../images/aikido_20141209_82210.jpg");
             animation-delay: 50s;
         }
        .slide:nth-child(12) {
            background-image: url("../images/aikido_20141209_82238.jpg");
             animation-delay: 55s;
         }
        .slide:nth-child(13) {
            background-image: url("../images/aikido_20141209_82548.jpg");
             animation-delay: 60s;
         }
        
@keyframes next-slide {
   0% {
    opacity: 0;
   }
   10% {
    opacity: 1; 
   }
   30% {
    opacity: 0;
   }
} 
        
    }
    .right_side{
      margin:0 auto;
       
       .baner{
       
        height:30em;
        width:100%;
        background-color:black;
        background-image:url("../images/aikido_pion.jpg");
        background-position: center;
      
        background-size:46%;
        background-repeat: no-repeat;
       
        
          @media  (max-width:1000px){
              
          background-image: url(../images/aikido_poziom.jpg);
          background-size: 70%;      
          
 
           }
        
           @media (max-width:500px){
            height:8em;;
           }
            @media (min-width:501px) and (max-width:800px){
            height:13em;
           }
            @media (min-width:801px) and (max-width:1000px){
            height:18em;
          }
        
         }
        .menu-wrapper{
            background-color: black;
            height:11em;
            padding-left:3em;
         }
  }
}

//Hamburger

@import url(http://fonts.googleapis.com/css?family=Raleway:500);

$color1: #FFF016;
$color2: #FFF016;
$color3: white;

$bar-height: 6px;
$bar-width: 36px;





*, *:before, *:after {
    box-sizing: border-box;
}


.menu-wrapper {
    position: relative;
   
   
}

// Menu
.menu {
    position: relative;
    width: $bar-width;
    height: $bar-height;
    background-color: $color2;
    user-select: none;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
   
    color: $color2;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
    label {
        cursor: pointer;
        position: absolute;
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        line-height: $bar-height*5;
        top: -$bar-height*2;
        left: $bar-width + $bar-height*2;
    }
    
    &:hover > ul.nav-links, &.open > ul.nav-links {
        transition: all 0.25s ease-in-out;
        opacity: 1;
        width: $bar-width*5;
        transform: translateX(15px);
        pointer-events: auto;
    }
    
    &:after, &:before {
        content: "";
        position: absolute;
        width: $bar-width;
        height: $bar-height;
        background-color: $color2;
        transition: all 0.25s ease-in-out;
    }
    
    &:after {
        top: $bar-height*2;
    }
    
    &:before {
        top: -$bar-height*2;
    }
    
    &:hover, &.open {
        background-color: transparent;
    }
    
    &:hover::after, &:hover::before, &.open::after, &.open::before {
        transition: all 0.3s ease-in-out;
        width: $bar-width/2;
    }
    
    &:hover::after, &.open::after {
        transform: translate($bar-height/2, -7px) rotate(405deg);
    }
    
    &:hover::before, &.open::before {
        transform: translate($bar-height*2 ,17px) rotate(-405deg);
    }
    
    
    ul.nav-links {
        margin: 0;
        padding: $bar-width 0 0 0;
        opacity: 0;
        transform: translateX(-15px);
        transition: all 0.25s ease-in-out;
        position: absolute;
        width: 0;
        height: 0;
        pointer-events: none;
        
        li {
            width: 100%;
            padding: 4px 8px;
            list-style-type:none;
            font-family: 'Raleway', sans-serif;
            font-size: 25px;
            text-transform: uppercase;
            transition: all 0.25s ease-in-out;
            border-left: 2px solid $color2;

            &:hover, &.active {
                color: $color3;
                border-left: 2px solid $color3;
            }
        }
    }
    
}

}