@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import "slider";
@import "base";
@import "small";
@import "medium";
@import "large";

    
html {
    font-size:62.5%;
    margin:0 auto;
    font-family:"Open Sans", sans-serif;
   
}

body {
 //main color background-color:rgb(237, 178, 0);  
 
 font-size:1.6rem;  
 .row:before,
 .row:after {
    content:"";
    display:table;
    clear:both;         
    }

[class*='col-']{
    
float:left;
text-align:justify;
text-indent: 1em;
padding: 0 15;
box-sizing:border-box;
  }
    
    
 }




