@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400italic);
@import "home";
@import "hamburger";
@import "history";
    
[class*="col-"] {
   
    min-height: 1em;
   
    
}


body {
    background-color:black;
    box-sizing:border-box;
    
}

$color: #ebefff;