header {
  width: 100%;
  max-width: 1200px;
  height: 35vh; }
  header .slider, header .slide {
    width: 100%;
    height: 35vh; }
  header .slide {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    opacity: 0;
    -webkit-animation-name: next-slide;
    -webkit-animation-duration: 52s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite; }
    header .slide p {
      color: red;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0.2em 0 0 0.2em; }
  header .slide:first-child {
    background-image: url("../images/slider/aikido_20141209_80522.JPG");
    animation-delay: 0s; }
  header .slide:nth-child(2) {
    background-image: url("../images/slider/berek.jpg");
    animation-delay: 4s; }
  header .slide:nth-child(3) {
    background-image: url("../images/slider/DSC09459.JPG");
    animation-delay: 8s; }
  header .slide:nth-child(4) {
    background-image: url("../images/slider/DSC09646.JPG");
    animation-delay: 12s; }
  header .slide:nth-child(5) {
    background-image: url("../images/slider/P1060657.JPG");
    animation-delay: 16s; }
  header .slide:nth-child(6) {
    background-image: url("../images/slider/P1060661.JPG");
    animation-delay: 20s; }
  header .slide:nth-child(7) {
    background-image: url("../images/slider/pokaz.jpg");
    animation-delay: 24s; }
  header .slide:nth-child(8) {
    background-image: url("../images/slider/pokaz2.jpg");
    animation-delay: 28s; }
  header .slide:nth-child(9) {
    background-image: url("../images/slider/pokaz3.jpg");
    animation-delay: 32s; }
  header .slide:nth-child(10) {
    background-image: url("../images/slider/wianki_2013.JPG");
    animation-delay: 36s; }
  header .slide:nth-child(11) {
    background-image: url("../images/slider/pad.jpg");
    animation-delay: 40s; }
  header .slide:nth-child(12) {
    background-image: url("../images/slider/skok.jpg");
    animation-delay: 44s; }
  header .slide:nth-child(13) {
    background-image: url("../images/slider/senoundo.jpg");
    animation-delay: 48s; }
@-webkit-keyframes next-slide {
  0% {
    opacity: 0; }
  5% {
    opacity: 1;
    z-index: 100; }
  100% {
    opacity: 0; } }
.about {
  width: 100%;
  height: 47vh;
  margin: 0 auto; }
  .about .baner img {
    width: 20%;
    height: 20%;
    padding: 1em 0 0 0.5em;
    float: left; }
  .about article {
    float: left;
    padding: 1em 0 0 0.8em; }
    .about article span {
      display: none; }
    .about article h1 {
      font-size: 1.9rem;
      color: red;
      padding: 0.1em 0 0.1em 0;
      font-weight: 900; }
    .about article h2 {
      padding: 1em 0 1em 0;
      text-transform: uppercase;
      color: yellow; }
    .about article p {
      padding: 0.3em 0 0.3em 0;
      text-align: left;
      font-size: 1.7rem; }
  .about .logo {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-top: 1.5em;
    margin-left: 7em; }

nav ul {
  border-top: 1px solid red;
  height: 3em;
  margin: 0 auto;
  margin-top: 3.8em;
  position: fixed;
  width: 100%;
  z-index: 80; }
  nav ul:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  nav ul a {
    color: #FFFFFF;
    display: block;
    float: left;
    padding: 0.5em;
    text-decoration: none; }
    nav ul a:hover {
      color: red; }

.aboutUs h3 {
  color: yellow;
  font-size: 2rem;
  padding: 0 0 1em 1em; }
.aboutUs h4 {
  color: red;
  font-size: 1.7rem;
  padding: 1em; }
.aboutUs p {
  padding: 0.5em;
  text-indent: 1.5em;
  line-height: 1.3em; }
  .aboutUs p span {
    color: yellow; }
.aboutUs h5 {
  color: darkgreen;
  font-style: italic;
  padding: 2em; }

.pricing .prices, .pricing .discounts {
  border: 1px solid red;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 1em; }
  .pricing .prices .title, .pricing .discounts .title {
    padding: 1em;
    color: yellow;
    font-size: 2.3rem; }
  .pricing .prices td, .pricing .discounts td {
    border: 1px solid yellow;
    padding: 1em; }
.pricing .discounts .title {
  color: red; }
.pricing h4 {
  color: white;
  font-size: 2rem;
  padding: 1em;
  text-align: center;
  margin: 0 auto; }

.photos {
  position: relative;
  margin: 0 auto;
  margin-top: 5em;
  padding-top: 20em;
  padding-bottom: 5em;
  background-image: url("../images/trening/dzieci/aikido_20141209_80864.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .photos .horizontal {
    width: 100%;
    float: left; }
  .photos .vertical {
    width: 50%;
    float: left; }
  .photos .hidden {
    display: none; }
  .photos h2 {
    text-align: center;
    font-size: 2.5rem;
    color: red;
    position: absolute;
    text-transform: uppercase;
    top: 13em;
    left: 1em; }
  .photos h3 {
    color: red;
    font-size: 2rem;
    padding: 1em; }
  .photos button {
    font-size: 1.5rem;
    margin-top: 5em;
    margin-left: 1em;
    border-radius: 8%;
    padding: 0.3em;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 4em;
    height: 2.5em; }
  .photos .buttonColor {
    background-color: white;
    color: black; }

.news {
  clear: both;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 19em; }
  .news h2 {
    color: red;
    font-size: 2rem;
    text-align: center;
    padding: 2em; }
  .news p {
    padding: 1em; }

@media only screen and (min-width: 30.5em) {
  header {
    height: 100vh; }
    header .slider, header .slide {
      height: 100vh; }

  .about {
    height: 0; }
    .about .baner img {
      display: none; }
    .about article {
      position: absolute;
      top: 0.1em;
      z-index: 800;
      height: 50%;
      width: 50%;
      margin-left: 2em;
      padding: 1em; }
      .about article span {
        display: inline;
        font-size: 4rem;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        cursor: pointer; }
      .about article h1, .about article h2, .about article p {
        opacity: 0; }
      .about article:hover h1, .about article:hover h2, .about article:hover p {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.3); }
      .about article h1 {
        margin-top: 2em; }
      .about article p {
        font-size: 2rem; }
    .about .logo {
      display: none; }

  nav {
    position: fixed;
    top: 70%;
    z-index: 1000;
    width: 100%; }
    nav ul {
      position: absolute;
      width: 100%;
      padding-left: 3em; }
      nav ul a {
        font-size: 2.5rem;
        color: white; }

  .pricing {
    height: 100vh;
    width: 100%;
    clear: both;
    margin-top: 7em; }
    .pricing h4 {
      font-size: 3rem;
      margin-top: 2em; }
    .pricing .prices, .pricing .discounts {
      float: left;
      margin: 3em; }

  .photos {
    clear: both;
    background-image: url("../images/staze_obozy/leman_2010.jpg"); }
    .photos h2 {
      font-size: 3rem;
      color: black;
      top: 3em;
      font-weight: bold; }
    .photos button {
      width: 5.2em;
      height: 2.5em;
      text-transform: uppercase;
      font-size: 2rem; }
    .photos .vertical {
      width: 25%; }
    .photos .horizontal {
      width: 45%; }

  .up {
    margin-top: -7em; } }
@media only screen and (min-width: 50em) {
  .about {
    height: 0; }
    .about article {
      width: 25%; }

  .pricing {
    height: 100vh; }

  .news {
    height: 100vh; } }
html {
  font-size: 62.5%;
  margin: 0 auto; }

section {
  background-color: #edb200;
  font-size: 1.6rem; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 25%;
  text-align: center;
  padding: 0 15;
  box-sizing: border-box; }

.col-1 {
  width: 25%; }

.col-2 {
  width: 50%; }

.col-3 {
  width: 75%; }

.col-4 {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
